OCR_detection/static/new_img
OCR_detection/static/new_docx
OCR_detection/static/new_pdf
OCR_detection/static/img
OCR_detection/static/compressed_img
OCR_detection/static/converted_img
OCR_detection/static/Generated_Audio