{% extends 'base.html' %}
{% block content%}

{% load static %}
<style>
    .flex-container
    {
    display: flex;
    justify-content: center;
    }
    #my_button button
    {
        height:50px;
        width:250px;
        visibility: block;
    }
</style>

<title>Welcome to Pdf to Doc Convertor</title>
<body>
<div id="alert-msg" class="alert-dismissible fade mt-3" role="alert">
    <div id="msg"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<p class="h1 text-center mt-4 mb-5"><b>Welcome to PDF and DOC Conversion !</b></p>
<div class="container mt-5">
    <div class="flex-container">
        <div class="mr-5 mt-3">
            <form id="form-pdf-to-doc" action="{% url 'Doc_to_Pdf' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h2>Select the PDF File:</h2>
                <p class="mt-5 mb-3">
                    <input type="file" name="upload_pdf" accept=".pdf" required class="inputfield">
                </p>
                <input type="text" name="user_id" class="inputfield" value="{{ user_id }}" style="display: none;">
                <button id="convert-pdf-btn" class="btn btn-primary">Convert to Docx & Download</button>
            </form>
            <iframe id="download_docx" style="display:none;"></iframe>
        </div>
        <div class="mr-5">
        </div>
        <div class="ml-5 mt-3">
            <form id="form-doc-to-pdf" action="{% url 'Doc_to_Pdf' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h2>Select the Docx File:</h2>
                <p class="mt-5 mb-3">
                    <input type="file" name="upload_docx" required accept=".docx" class="inputfield">
                </p>
                <input type="text" name="user_id" class="inputfield" value="{{ user_id }}" style="display: none;">
                <button id="convert-docx-btn" class="btn btn-primary">Convert to Pdf & Download</button>
            </form>
            <iframe class="mt-3" id="download_pdf" style="display:none;"></iframe>
        <div>
    </div>
</div>
</body>
<script>
    $('#convert-pdf-btn').on("click", function (e) {
        e.preventDefault();
        var data = new FormData($('#form-pdf-to-doc').get(0));
        $.ajax({
            url: $('#form-pdf-to-doc').attr('action'),
            type: $('#form-pdf-to-doc').attr('method'),
            data: data,
            cache: true,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                $("#download_docx").attr("src",data.path_of_doc);
                $("#alert-msg").addClass("alert alert-success show");
                $("#msg").html(data.messages);
            }
        });
    });
    $('#convert-docx-btn').on("click", function (e) {
        e.preventDefault();
        var data = new FormData($('#form-doc-to-pdf').get(0));
        $.ajax({
            url: $('#form-doc-to-pdf').attr('action'),
            type: $('#form-doc-to-pdf').attr('method'),
            data: data,
            cache: true,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                $("#download_pdf").attr("src",data.path_of_pdf);
                $("#download_pdf").css("display","block");
                $("#alert-msg").addClass("alert alert-success show");
                $("#msg").html(data.messages);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#loader").show();
        });
        $(document).ajaxComplete(function () {
            $("#loader").slideUp();
        });
    });
</script>
<script>
    $("#alert-msg .close").on("click",function(){
        $("#alert-msg").removeClass("alert alert-success show");
    });
</script>
{% endblock %}
