{% extends 'base.html' %}
{% block content%}

{% load static %}
<title>Welcome to OCR Detector</title>
<div class="container mt-5">
    <h1>Welcome to DocCo</h1>
    <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eius ab, at quaerat illum numquam rerum sit voluptates cupiditate, earum placeat commodi quidem, ducimus consectetur doloribus dicta delectus porro cum cumque minima adipisci obcaecati molestiae aliquam. Fugit minima non minus tenetur atque, officiis ea voluptates nam, eos tempora aliquid accusantium dolores laudantium odio voluptas, qui porro. Cum obcaecati eius eos, velit quae vero iure non commodi ea praesentium quos in nostrum nam autem laudantium fuga nemo libero aliquid totam. Soluta.
    </p>
</div>
{% endblock %}
