{% extends 'base.html' %}
{% block content%}

{% load static %}
<title>Welcome to OCR Detector</title>
<div class="container mt-5">
    <h1><b>Welcome to DocCo</b></h1>
    <p class="mt-5">
        <p>
            This Online document management system is a simple and convenient way for anyone who wants to manage the document, basically getting the OCR of it.
        </p>
        <p>
            Here Optical Character Recognition, or OCR generator, enables you to convert different types of image documents, such as scanned paper documents, images captured by a digital camera into editable and searchable data.
        </p>
        <p>
            This system is enabled by the internet – it is the internet only that connects this OCR generator to anyone who access this site.
        </p>
    </p>
</div>
{% endblock %}
