{% extends 'base.html' %}
{% block content%}

{% load static %}
<style>
    .flex-container
    {
    display: flex;
    justify-content: center;
    }
    #my_button button
    {
        height:50px;
        width:250px;
        visibility: block;
    }
</style>
<title>Welcome to OCR Detector</title>
<body onload="f1();f2();">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
<div class="container mt-5">
    <h1 class="text-center"><b>OCR and Audio Generator</b></h1>
    <div class="flex-container mt-5">
        <div class="mr-5 mt-3">
            <form action="{% url 'index' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h2>Select the File:</h2>
                <p class="mt-5 mb-3">
                    <input type="file" name="upload" class="inputfield">
                </p>
                <button class="btn btn-primary">Submit</button>
                <div class="mt-5" id="get_ocr_btn" style="display: none;">
                    <a href="{% url 'output' %}" class="btn btn-success">Click here to Get OCR Result</a>
                </div>
            </form>
        </div>
        <div class="ml-2" id="div_for_upImg" style="display: none;">
            <p class="h2 mx-auto mb-4" style="width:350px;text-align: center;">Uploaded Image</p>
            <div class="card" style="width: auto; height: auto;" >
                <img class="card-img-top" style="width: 380px; height: auto;" id="SM" src="">
            </div>
        </div>
    <div>
</div>
    </div>
</div>
</body>
<script>
    function f1()
    {
        var a="{% for message in messages %}{{ message }}{% endfor %}";
        var n=a.localeCompare("Image Successfully Uploaded !");
        if(n!=0)
        {
            document.getElementById("SM").style.visibility="hidden";
            document.getElementById("div_for_upImg").style.display = "none" ;
        }
        else
        {
            document.getElementById("div_for_upImg").style.display = "block" ;
            document.getElementById("get_ocr_btn").style.display="block";
        }
        //console.log('hello');
    }
    function f2()
    {
        var a="{{ image.upload }}";
        var res = a.replace("OCR_detection/","/");
        var path=res;
        //console.log(res);
        document.getElementById("SM").src=res;
    }

</script>
{% endblock %}
